/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
	height: 100%;
	line-height: 1;
	color: #ffffff;
	background-color: #000000;
	font-family: 'PT Sans Narrow', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 25px 0;
	z-index: 99;
}

header ul li a {
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0 40px;
	visibility: hidden;
}

/*li {
	padding: 4px;
	font-size: larger;
}

.shrink:hover {
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
}*/

.fixed {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #00000;
	z-index: 999;
}

section	{
	padding: 60px 0;
	height: 100%;
	position: relative;

}

.home {
	color: #ffffff;
	padding: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	background: url(../images/matt.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	background-color: #34495e;
	background-attachment: fixed;
	z-index: 9;	
}

.home h1 {
	font-size: 68px;
	text-transform: uppercase;
	text-shadow: 0 15px 20px #00000;
	margin-bottom: 0;
	visibility: hidden;
}

.home h5 {
	background: #000000;
	font-size: 18px;
	text-align: center;
	padding: 10px 20px;
	margin: 10px 0 50px;
	display: inline-block;
	letter-spacing: 2px;
	border-radius: 2px;
	visibility: hidden;
}

.section-title {
	text-align: center;
}

.section-title h2 {
	display: inline-block;
	font-size: 28px;
	border-bottom: 1px solid;
	text-transform: uppercase;
	padding: 0 0 10px;
}

/*.about {
	height: 60%;
}*/

.about-info {
	width: 60%;
	margin: 0 auto;
	padding: 50px 0;
	text-align: center;
	z-index: 99;
}

.about-info p {
	line-height: 28px;
	font-size: 18px;
}

.about-info .downloadbtn {
	display: inline-block;
	padding: 15px 35px;
	background-color: #ffffff10;
	border: 1px solid #ffffff30;
	border-radius: 50px;
	color: #ffffff;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	margin-top: 35px;
	position: relative;
	z-index: 999;
}

.timeline {
	margin-top: 50px;
	display: flex;
}

.timeline .col {
	margin: 5px;
	padding: 25px 5px;
	border: 1px solid #ffffff30;
	float: left;
}

.timeline h6 {
	margin: 15px 0 0;
	font-size: 14px;
	line-height: 24px;
}

.service {
	width: 60%;
	margin: 0 auto;
	padding: 50px 0;
	padding-bottom: 10%;
	text-align: center;
	z-index: 99;
}

.service .service-info {
	display: flex;
	flex-wrap: wrap;
	margin: 50px 0;
}

.service .col {
	width: 40%;
	margin: 25px 30px;
	text-align: center;
}

.service .col img {
	max-width: 48px;
}

.service .col h3 {
	margin-top: 10px;
	font-size: 28px;
	margin-bottom: 15px;
}

.service .col p {
	line-height: 28px;
}

.project {
	width: 60%;
	margin: 0 auto;
	padding: 50px 0;
	padding-bottom: 10%;
	text-align: center;
	z-index: 99;
}

.project .project-info {
	display: flex;
	flex-wrap: wrap;
	margin: 50px 0;
}

.project .col {
	width: 40%;
	margin: 25px 30px;
	text-align: center;
}

.project .col img {
	max-width: 48px;
}

.project .col h3 {
	margin-top: 10px;
	font-size: 28px;
	margin-bottom: 15px;
}

.project .col p {
	line-height: 28px;
}

/*.gallery {
	width: 60%;
	margin: 0 auto;
	padding: 50px 0;
	z-index: 99;
}

.gallery-info {
	display: flex;
	flex-wrap: wrap;
	margin: 50px 0;
}

.gallery-info .col {
	float: left;
	width: 30%;
	margin: 1%;
}

.gallery-info .col img {
	max-width: 100%;
}*/

.contact {
	width: 60%;
	margin: 0 auto;
	padding: 50px 0;
	z-index: 99;
}

.contact-info {
	display: flex;
	justify-content: center;
	margin: 50px 0;
}

.contact-info .textField {
	width: 100%;
	height: 50px;
	border: 1px solid #ffffff;
	box-sizing: border-box;
	background-color: transparent;
	padding: 15px 15px;
	margin-bottom: 15px;
	font-family: 'PT Sans Narrow', sans-serif;
	color: #ffff;
	font-size: 16px;
}

.contact-info .messageField {
	height: 200px;
}

.contact-info .submitButton {
	background-color: #ffff;
	color: #000;
	height: 50px;
	font-weight: 600;
	font-size: 16px;
	cursor: pointer;
	text-transform: uppercase;
}

.shrink-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.shrink-on-hover:hover, .shrink-on-hover:focus, .shrink-on-hover:active {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.project-info a {
	display: inline-block;
	/*background-color: #ffffff10;*/
	border: 1px solid #ffffff30;
	/*color: white;*/
	padding: 5px 15px;
	/*cursor: pointer;*/
	/*display: inline-block;
	padding: 15px 35px;
	background-color: #ffffff10;
	border: 1px solid #ffffff30;*/
	border-radius: 2px;
	color: #000;
	background-color: #fff;
	font-size: 13px;
	/*text-transform: uppercase;*/
	text-decoration: none;
	/*margin-top: 35px;*/
	position: relative;
	z-index: 999;
}